behave-django==1.3.0
# boto3 for AWS
boto3==1.9.244
# Celery with redis dep
celery==4.3.0
coverage==4.5.4
redis==3.3.8
django-bootstrap4==1.0.1
django==2.2.8
django-allauth==0.40.0
django-allauth-2fa==0.7
django-analytical==2.5.0
django-auditlog==0.4.5
django-choices==1.7.0
django-constance[redis]==2.4.0
django-countries==5.5
django-data-masker>=1.1.1
django-extensions==2.2.3
django-filter==2.2.0
django-fsm==2.6.1
django-gravatar2==1.4.2
django-ipware==2.1.0
django-meta==1.5.2
django-money==0.15
django-notifications-hq>=1.5.0
django-polymorphic==2.1.2
django-qr-code==1.0.0
django-recaptcha==2.0.5
django-redis==4.10.0
django-sendgrid-v5==0.8.0
django-settings-export==1.2.1
django-storages[boto3]==1.7.2
#django-twilio==0.9.3
django-widget-tweaks==1.4.5
#djangorestframework==3.8.2
#elastic-apm>=4.1.0
elastic-apm==5.2.0
geoip2==2.9.0
# GCS
google-cloud-storage>=1.15.0
gunicorn==19.9.0
#django-cc dep
mock==3.0.5
psycopg2-binary==2.8.3
python-decouple==3.1
pycoin==0.90.20190728
#pycoin==0.90
# Use our own special version from GitHub until upstream roll out new release
git+https://github.com/kcyeu/python-bitcoinrpc@master#egg=python-bitcoinrpc
pillow==6.2.0
pip==19.2.3
tblib==1.4.0
