# Celery with redis dep
#celery[redis]<5.0.0
celery[redis]==5.0.0
#redis==3.5.3
django-bootstrap4==2.2.0
django<3.0.0
django-allauth==0.42.0
django-allauth-2fa==0.8
django-analytical==2.6.0
django-auditlog==0.4.7
django-choices==1.7.1
django-constance[redis]==2.7.0
django-countries<6.2
django-cryptography==1.0
django-data-masker>=1.1.1
django-extensions<3.0.0
django-filter==2.3.0
django-fsm==2.7.0
django-gravatar2==1.4.4
django-ipware==3.0.1
django-meta<2.0.0
#django-money==0.15
django-money==1.1
django-notifications-hq>=1.5.0
#django-polymorphic==2.1.2
django-polymorphic==3.0.0
django-qr-code<2.0.0
django-recaptcha==2.0.6
django-redis==4.12.1
django-sendgrid-v5==0.9.0
django-settings-export==1.2.1
django-storages[google]==1.10
#django-twilio==0.9.3
django-widget-tweaks==1.4.8
#djangorestframework==3.8.2
#elastic-apm==5.2.0
geoip2==2.9.0
gunicorn==20.0.4
#django-cc dep
mock==4.0.2
psycopg2-binary==2.8.6
#python-bitcoinrpc==1.0
python-decouple==3.3
#pycoin==0.90.20190728
pycoin==0.90.20200809
# Use our own special version from GitHub until upstream roll out new release
git+https://github.com/kcyeu/python-bitcoinrpc@master#egg=python-bitcoinrpc
pillow==10.0.1
#web3==5.5.0

# For dev, install but not enabled
coverage==5.2.1
tblib==1.7.0
ipython
behave-django==1.4.0

